.tumo-logo {
  width: 100px;
}

.nav-icon {
  width: 32px;
  margin-left: 2em;
  cursor: pointer;
}

.user-name {
  right: 0px;
  color: white;
}

.global-nav {
  height: 57px;
}
.logoutBtn{
  margin-right: -20px
}
.helloText{
  color:wheat;
  margin-bottom: -2px;
}
.flex{
  margin:10px
}